GROQ_API_KEY = "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"
LANGCHAIN_API_KEY = "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"
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_PROJECT = "zyro-rag-challenge"
KAGGLE_USERNAME = "HARSHA6319"
KAGGLE_KEY = "KGAT_c493c75abf2c488d47c5ce548258c600"
